@model IEnumerable<Knjizara.Models.EFRepository.Narudzbenica>

@{
    ViewBag.Title = "Index";
}

<h2>Kreiraj narudzbenicu</h2>

<p>
    @Html.ActionLink("Kreiraj Novu Narudzbenicu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDNarudzbenice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDNarudzbenice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDNarudzbenice }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDNarudzbenice }) 
        </td>
    </tr>
}

</table>
