@model Knjizara.Models.EFRepository.StavkaNarudzbenice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StavkaNarudzbenice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magacin.redBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magacin.redBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Narudzbenica1.IDNarudzbenice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Narudzbenica1.IDNarudzbenice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
